.bgc{
    background-color:#ffc045 ;
}
.borderas{
    border-style: dotted;
}
.fonnt{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 145px;
}
.fonnt1{
    font-size: 17px;
}